@import url('__container/video__container.css');
.video {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 0 6.375rem;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    .video {
        width: 92.5%;
    }
}

@media screen and (max-width: 1024px) {
    .video {
        width: 90.625%;
    }
}

@media screen and (max-width: 768px) {
    .video {
        width: 93.75%;
    }
}

@media screen and (max-width: 375px) {
    .video {
        max-width: 343px;
        padding-bottom: 4rem;
    }
}

@media screen and (max-width: 320px) {
    .video {
        width: 90%;
    }
}