.place__paragraph {
    margin: 0 0 2.25rem;
    grid-column: 2;
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        margin-bottom: 1.5rem;
    }
}


/*Я в макете вижу, что до 768px размер шрифта и высота строки 16px и 27px соответственно, а 18px и 30px начинаются с 1024px*/

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 1rem;
        line-height: 1.6875rem;
    }
}

@media screen and (max-width: 639px) {
    .place__paragraph {
        width: 90%;
        margin: 1.5rem auto;
        grid-column: 1;
    }
    .place__paragraph:first-of-type {
        margin-bottom: 0;
    }
}