.place__website {
    margin: 0 0 3.75rem;
    align-self: end;
    grid-row: 1;
    grid-column: 2;
}

@media screen and (max-width: 1024px) {
    .place__website {
        margin: 0 0 3.9vw;
    }
}

@media screen and (max-width: 768px) {
    .place__website {
        margin: 0 0 2.5rem;
    }
}

@media screen and (max-width: 639px) {
    .place__website {
        display: none;
    }
}


/*Для place__website и place__title стоят одинаковые отступы снизу, похоже что не в линию из-за line-height, но времени на эксперименты не осталось*/